::ng-deep .success .dx-overlay-content {
  background: #beecce !important;
}

.colorTextSuccess {
  color: #225235;
}

::ng-deep .success .dx-popup-title {
  color: #225235;
  border-color: #225235;
}
