<dx-data-grid id="gridContainer"
              [dataSource]="store"
              [showBorders]="true"
              keyExpr="id"
              (onRowUpdating)="onRowUpdating($event)"
              [hoverStateEnabled]="true">

  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxi-column dataField="type"
              caption="Тип">
    <dxi-validation-rule type="required"></dxi-validation-rule>
    <dxo-lookup [dataSource]="types"
                displayExpr="nameTypedev"
                valueExpr="id">
    </dxo-lookup>
  </dxi-column>

  <dxi-column dataField="caption" caption="Описание"></dxi-column>

  <dxi-column dataField="brand"
              caption="Бренд">
    <dxi-validation-rule type="required"></dxi-validation-rule>
    <dxo-lookup [dataSource]="brands"
                displayExpr="nameBrand"
                valueExpr="id">
    </dxo-lookup>
  </dxi-column>

  <dxi-column dataField="model" caption="Модель">
    <dxi-validation-rule type="required"></dxi-validation-rule>
    <dxi-validation-rule type="async"
                         message="Данная модель уже существует."
                         [validationCallback]="asyncValidation">
    </dxi-validation-rule>
  </dxi-column>

  <dxi-column dataField="status" caption="Статус"></dxi-column>

  <dxi-column dataField="ipInput" caption="Базовый IP">
    <dxi-validation-rule type="pattern" [pattern]="ipPattern" message="Вы допустили ошибку при вводе базового IP-адреса"></dxi-validation-rule>
  </dxi-column>

  <dxi-column dataField="actualIp" caption="Актуальный IP">
    <dxi-validation-rule type="pattern" [pattern]="ipPattern" message="Вы допустили ошибку при вводе актуального IP-адреса"></dxi-validation-rule>
  </dxi-column>

  <dxi-column dataField="port" caption="Порт" dataType="number"></dxi-column>

  <dxi-column dataField="positionNumber" caption="Номер" dataType="number"></dxi-column>

  <dxo-editing mode="popup"
               [allowUpdating]="true"
               [allowDeleting]="true"
               [allowAdding]="true">
    <dxo-popup title="Устройства"
               [showTitle]="true"
               [width]="700"
               [height]="400"
               [position]="{ my: 'top', at: 'top', of: window }">
    </dxo-popup>
  </dxo-editing>
</dx-data-grid>
