<dx-data-grid id="gridContainer"
              [dataSource]="store"
              [showBorders]="true"
              keyExpr="idTelprot"
              (onRowUpdating)="onRowUpdating($event)">
  <dxi-column dataField="protocolTelemetryLink"
              caption="Протокол">
    <dxo-lookup [dataSource]="protocols"
                displayExpr="nameProtocol"
                valueExpr="idProtocol">
    </dxo-lookup>
  </dxi-column>
  <dxi-column dataField="telemetryLink"
              caption="Телеметрия">
    <dxo-lookup [dataSource]="telemetries"
                displayExpr="shortNameTelemetry"
                valueExpr="idTelemetry">
    </dxo-lookup>
  </dxi-column>
  <dxo-editing mode="popup"
               [allowUpdating]="true"
               [allowDeleting]="true"
               [allowAdding]="true">
    <dxo-popup title="Протоколы-Телеметрия"
               [showTitle]="true"
               [width]="700"
               [height]="300"
               [position]="{ my: 'top', at: 'top', of: window }">
    </dxo-popup>
  </dxo-editing>
</dx-data-grid>
