<dx-data-grid id="gridContainer"
              [dataSource]="store"
              [showBorders]="true"
              keyExpr="id"
              (onRowUpdating)="onRowUpdating($event)">
  <dxi-column dataField="groupMeasure" caption="Группа"></dxi-column>
  <dxi-column dataField="nameMeasure" caption="Название"></dxi-column>
  <dxi-column dataField="isCheckMeasure" caption="Результат проверки"></dxi-column>
  <dxi-column dataField="statusMeasure" caption="Статус"></dxi-column>
  <dxi-column dataField="typeMeasure"
              caption="Тип">
    <dxo-lookup [dataSource]="types"
                displayExpr="nameTypemeasure"
                valueExpr="id">
    </dxo-lookup>
  </dxi-column>
  <dxi-column dataField="manualMeasure" caption="Ручное измерение"></dxi-column>
  <dxo-editing mode="popup"
               [allowUpdating]="true"
               [allowDeleting]="true"
               [allowAdding]="true">
    <dxo-popup title="Измерения"
               [showTitle]="true"
               [width]="700"
               [height]="300"
               [position]="{ my: 'top', at: 'top', of: window }">
    </dxo-popup>
  </dxo-editing>
</dx-data-grid>
