<br />
<div>
  <dx-select-box [items]="maininfo" (onSelectionChanged)="selectedTable($event)"></dx-select-box>
</div>
<h1>{{ tablename }}</h1>
<app-table-projects *ngIf ="tablename == 'Проекты'"></app-table-projects>
<app-table-protocol *ngIf="tablename == 'Протоколы'"></app-table-protocol>
<app-table-project-measure *ngIf="tablename == 'Проекты-Измерения'"></app-table-project-measure>
<app-table-interfaces *ngIf="tablename == 'Интерфейсы'"></app-table-interfaces>
<app-table-devices *ngIf="tablename == 'Устройства'"></app-table-devices>
<app-table-measures *ngIf="tablename == 'Измерения'"></app-table-measures>
<app-table-devices-measure *ngIf="tablename == 'Устройства-Измерения'"></app-table-devices-measure>
<app-table-measure-protocol *ngIf="tablename == 'Протоколы-Измерения'"></app-table-measure-protocol>
<app-table-telemetry-protocol *ngIf="tablename == 'Протоколы-Телеметрия'"></app-table-telemetry-protocol>
<app-table-commands-protocol *ngIf="tablename == 'Протоколы-Программные команды'"></app-table-commands-protocol>
