::ng-deep .danger .dx-overlay-content {
  background: #f7d7da !important;
}

.colorTextDanger {
  color: #532237;
}


::ng-deep .danger .dx-popup-title {
  color: #532237;
  border-color: #532237;
}

