<dx-data-grid id="gridContainer"
              [dataSource]="typesmeasure"
              [showBorders]="true"
              keyExpr="idTypemeasure">
  <dxi-column dataField="nameTypemeasure" caption="Тип измерения"></dxi-column>
  <dxo-editing mode="popup"
               [allowUpdating]="true"
               [allowDeleting]="true"
               [allowAdding]="true">
    <dxo-popup
      title="Типы измерений"
      [showTitle]="true"
      [width]="500"
      [height]="225"
      [position]="{ my: 'top', at: 'top', of: window }">
    </dxo-popup>
  </dxo-editing>
</dx-data-grid>
