<dx-data-grid id="gridContainer"
              [dataSource]="store"
              [showBorders]="true"
              keyExpr="id"
              (onRowUpdating)="onRowUpdating($event)">
  <dxi-column dataField="idProject"
              caption="Проект">
    <dxo-lookup [dataSource]="projects"
                displayExpr="nameProject"
                valueExpr="id">
    </dxo-lookup>
  </dxi-column>
  <dxi-column dataField="idDevice"
              caption="Устройства">
    <dxo-lookup [dataSource]="devices"
                displayExpr="model"
                valueExpr="id">
    </dxo-lookup>
  </dxi-column>
  <dxo-editing mode="popup"
               [allowUpdating]="true"
               [allowDeleting]="true"
               [allowAdding]="true">
    <dxo-popup title="Проекты-Устройства"
               [showTitle]="true"
               [width]="700"
               [height]="300"
               [position]="{ my: 'top', at: 'top', of: window }">
    </dxo-popup>
  </dxo-editing>
</dx-data-grid>
