<form class="form-signin" #passwordChangerForm="ngForm" (ngSubmit)="passChange(passwordChangerForm)">
  <div class="container-fluid">
    <h2 class="form-signin-heading">Смена пароля</h2>
    <br />
    <label for="oldPassword" class="sr-only">Email address</label>
    <input type="password" id="oldPassword" name="oldPassword" ngModel class="form-control" placeholder="Введите старый пароль" required autofocus>
    <br />
    <label for="passwordUser" class="sr-only">Password</label>
    <input type="password" id="passwordUser" name="passwordUser" ngModel class="form-control" placeholder="Введите новый пароль" required>
    <br />
    <label for="passwordConfirm" class="sr-only">Password</label>
    <input type="password" id="passwordConfirm" name="passwordConfirm" ngModel class="form-control" placeholder="Повторите новый пароль" required>
    <br />
    <button class="btn btn-lg btn-primary btn-block" type="submit">Сменить пароль</button>
  </div>
  <p></p>
  <div *ngIf="flagOfError == 'visible'" class="alert alert-danger" id="divError" name="divError">{{ this.test }}</div>
  <div *ngIf="!check" class="alert alert-danger">Пароли не совпадают</div>
</form>
