<form class="form-signin" #passwordChangerForm="ngForm" (ngSubmit)="passChange(passwordChangerForm)">
  <div class="container-fluid">
    <h2 class="form-signin-heading">Смена пароля</h2>
    <br />
    <dx-text-box id="oldPassword" name="oldPassword" class="form-control" ngModel mode="password" placeholder="Введите ваш текущий пароль">
      <dx-validator>
        <dxi-validation-rule type="required" message="Необходимо ввести ваш текущий пароль"></dxi-validation-rule>
      </dx-validator>
    </dx-text-box>
    <br />
    <dx-text-box id="passwordUser" name="passwordUser" class="form-control" ngModel [(value)]="password" mode="password" placeholder="Придумайте новый пароль">
      <dx-validator>
        <dxi-validation-rule type="required" message="Необходимо придумать пароль"></dxi-validation-rule>
      </dx-validator>
    </dx-text-box>
    <br />
    <dx-text-box id="passwordConfirm" name="passwordConfirm" class="form-control" ngModel mode="password" placeholder="Повторите пароль, чтобы не ошибиться">
      <dx-validator>
        <dxi-validation-rule type="required" message="Необходимо повторить пароль"></dxi-validation-rule>
        <dxi-validation-rule type="compare" [comparisonTarget]="passwordComparison" message="Пароль и подтверждение не совпадают"></dxi-validation-rule>
      </dx-validator>
    </dx-text-box>
    <br />
    <dx-button text="Сменить пароль"
               type="default"
               [useSubmitBehavior]="true">
    </dx-button>
    <p></p>
    <dx-button text="Назад"
               type="normal"
               [routerLink]='["/account"]'>
    </dx-button>
  </div>
  <p></p>
</form>
