<form class="form-signin" #passwordChangerForm="ngForm" (ngSubmit)="passChange(passwordChangerForm)">
  <div class="container-fluid">
    <h2 class="form-signin-heading">Смена пароля</h2>
    <br />
    <label for="oldPassword" class="sr-only">Email address</label>
    <input type="password" id="oldPassword" name="oldPassword" ngModel class="form-control" placeholder="Введите ваш текущий пароль" required autofocus #oldPassword="ngModel">
    <br />
    <label for="passwordUser" class="sr-only">Password</label>
    <input type="password" id="passwordUser" name="passwordUser" ngModel class="form-control" placeholder="Придумайте новый пароль" required #passwordUser="ngModel">
    <br />
    <label for="passwordConfirm" class="sr-only">Password</label>
    <input type="password" id="passwordConfirm" name="passwordConfirm" ngModel class="form-control" placeholder="Повторите пароль, чтобы не ошибиться" required #passwordConfirm="ngModel">
    <br />
    <dx-button text="Сменить пароль"
               type="default"
               [useSubmitBehavior]="true"
               [disabled]="oldPassword.invalid || passwordUser.invalid || passwordConfirm.invalid">
    </dx-button>
  </div>
</form>

