<dx-data-grid id="gridContainer"
              [dataSource]="categories"
              [showBorders]="true"
              keyExpr="idCategory">
  <dxi-column dataField="nameCategory" caption="Категория проекта"></dxi-column>
  <dxo-editing mode="popup"
               [allowUpdating]="true"
               [allowDeleting]="true"
               [allowAdding]="true">
    <dxo-popup title="Категория проекта"
               [showTitle]="true"
               [width]="500"
               [height]="225"
               [position]="{ my: 'top', at: 'top', of: window }">
    </dxo-popup>
  </dxo-editing>
</dx-data-grid>
