<p></p>
<h1>Личный кабинет</h1>
<form class="form-signin" #accountForm="ngForm" (ngSubmit)="account(accountForm)">

  <div hidden class="dx-field">
    <div class="dx-field-label">id</div>
    <div class="dx-field-value">
      <dx-text-box id="id" name="id" [readOnly]="true" [ngModel]="user[0].id" class="form-control"></dx-text-box>
    </div>
  </div>

  <div class="dx-field">
    <div class="dx-field-label">Фамилия</div>
    <div class="dx-field-value">
      <dx-text-box id="middlenameUser" name="middlenameUser" [readOnly]="isChanged()" [ngModel]="user[0].middlenameUser" class="form-control">
        <dx-validator>
          <dxi-validation-rule type="pattern" [pattern]="fioPattern" message="Фамилия может содержать только буквы русского алфавита"></dxi-validation-rule>
        </dx-validator>
      </dx-text-box>
    </div>
  </div>

  <div class="dx-field">
    <div class="dx-field-label">Имя</div>
    <div class="dx-field-value">
      <dx-text-box id="nameUser" name="nameUser" [readOnly]="isChanged()" [ngModel]="user[0].nameUser" class="form-control">
        <dx-validator>
          <dxi-validation-rule type="pattern" [pattern]="fioPattern" message="Имя может содержать только буквы русского алфавита"></dxi-validation-rule>
        </dx-validator>
      </dx-text-box>
    </div>
  </div>

  <div class="dx-field">
    <div class="dx-field-label">Отчество</div>
    <div class="dx-field-value">
      <dx-text-box id="lastnameUser" name="lastnameUser" [readOnly]="isChanged()" [ngModel]="user[0].lastnameUser" class="form-control">
        <dx-validator>
          <dxi-validation-rule type="pattern" [pattern]="fioPattern" message="Отчество может содержать только буквы русского алфавита"></dxi-validation-rule>
        </dx-validator>
      </dx-text-box>
    </div>
  </div>

  <div class="dx-field">
    <div class="dx-field-label">Логин</div>
    <div class="dx-field-value">
      <dx-text-box id="loginUser" name="loginUser" [readOnly]="isChanged()" [ngModel]="user[0].loginUser" class="form-control">
        <dx-validator>
          <dxi-validation-rule type="required" message="Логин необходимо ввести"></dxi-validation-rule>
          <dxi-validation-rule type="pattern" [pattern]="loginPattern" message="Логин может состоять только из латинских букв и цифр"></dxi-validation-rule>
        </dx-validator>
      </dx-text-box>
    </div>
  </div>

  <div hidden class="dx-field">
    <div class="dx-field-label">Пароль</div>
    <div class="dx-field-value">
      <dx-text-box id="passwordUser" name="passwordUser" [readOnly]="isChanged()" [ngModel]="user[0].passwordUser" class="form-control"></dx-text-box>
    </div>
  </div>

  <div class="dx-field">
    <div class="dx-field-label">Роль</div>
    <div class="dx-field-value">
      <dx-select-box [ngModel]="user[0].roleUser" class="form-control" id="roleUser" name="roleUser"
                     [dataSource]="roles"
                     displayExpr="nameRole"
                     valueExpr="id"
                     [readOnly]=true>
      </dx-select-box>
    </div>
  </div>

  <div class="dx-field">
    <div class="dx-field-label">Должность</div>
    <div class="dx-field-value">
      <dx-select-box id="postUser" name="postUser"
                     [dataSource]="posts"
                     [ngModel]="user[0].postUser"
                     displayExpr="namePost"
                     valueExpr="id"
                     [readOnly]="isChanged()"
                     class="form-control">
      </dx-select-box>
    </div>
  </div>

  <div *ngIf="flagForChangeButtons==false">
    <dx-button text="Редактировать профиль"
               type="normal"
               (onClick)="buttonIsPressed()"
               icon="edit">
    </dx-button>
  </div>

  <p></p>

  <div *ngIf="flagForChangeButtons==false">
    <dx-button text="Сменить пароль"
               type="normal"
               [routerLink]='["/password-changer"]'>
    </dx-button>
  </div>

  <div *ngIf="flagForChangeButtons==true">
    <dx-button text="Сохранить изменения"
               type="success"
               [useSubmitBehavior]="true"
               icon="check">
    </dx-button>
  </div>

  <p></p>

  <div *ngIf="flagForChangeButtons==true">
    <dx-button text="Отмена"
               type="danger"
               (onClick)="cancel()"
               icon="close">
    </dx-button>
  </div>

</form>

<h1>Мои проекты</h1>
<dx-data-grid id="gridContainer"
              [dataSource]="store"
              [showBorders]="true"
              keyExpr="id"
              (onRowUpdating)="onRowUpdating($event)"
              [hoverStateEnabled]="true">

  <dxi-column dataField="nameProject" caption="Название">
    <dxi-validation-rule type="required"></dxi-validation-rule>
    <dxi-validation-rule type="async"
                         message="Проект с таким названием уже существует."
                         [validationCallback]="asyncValidation">
    </dxi-validation-rule>
  </dxi-column>

  <dxi-column dataField="directorProject"
              caption="Создатель проекта">
    <dxo-lookup [dataSource]="user"
                displayExpr="loginUser"
                valueExpr="id">
    </dxo-lookup>
  </dxi-column>

  <dxi-column dataField="descriptionProject" caption="Описание"></dxi-column>

  <dxi-column dataField="dateCreateProject" caption="Дата создания" dataType="datetime"></dxi-column>

  <dxo-editing mode="popup"
               [allowUpdating]="true"
               [allowDeleting]="true">
    <dxo-popup title="Проекты"
               [showTitle]="true"
               [width]="700"
               [height]="300"
               [position]="{ my: 'top', at: 'top', of: window }">
    </dxo-popup>
  </dxo-editing>

</dx-data-grid>

