<dx-data-grid id="gridContainer"
              [dataSource]="store"
              [showBorders]="true"
              keyExpr="id"
              (onRowUpdating)="onRowUpdating($event)"
              [hoverStateEnabled]="true">

  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxi-column dataField="hasItems" caption="???"></dxi-column>

  <dxi-column dataField="parentId" caption="id родительского элемента"></dxi-column>

  <dxi-column dataField="longName" caption="Полное название"></dxi-column>

  <dxi-column dataField="shortName" caption="Сокращенное название"></dxi-column>

  <dxi-column dataField="byteNumber" caption="Количество байтов"></dxi-column>

  <dxi-column dataField="startBit" caption="Первый бит"></dxi-column>

  <dxi-column dataField="lenght" caption="Длина"></dxi-column>

  <dxi-column dataField="possibleValues" caption="Возможные значения"></dxi-column>

  <dxi-column dataField="value" caption="Значение"></dxi-column>

  <dxo-editing mode="popup"
               [allowUpdating]="true"
               [allowDeleting]="true"
               [allowAdding]="true">
    <dxo-popup title="Телеметрия"
               [showTitle]="true"
               [width]="700"
               [height]="300"
               [position]="{ my: 'top', at: 'top', of: window }">
    </dxo-popup>
  </dxo-editing>
</dx-data-grid>
