<dx-data-grid id="gridContainer"
              [dataSource]="store"
              [showBorders]="true"
              keyExpr="idTelemetry"
              (onRowUpdating)="onRowUpdating($event)">
  <dxi-column dataField="longNameTelemetry" caption="Полное название"></dxi-column>
  <dxi-column dataField="shortNameTelemetry" caption="Сокращенное название"></dxi-column>
  <dxi-column dataField="byteNumberTelemetry" caption="Количество байтов"></dxi-column>
  <dxi-column dataField="startBitTelemetry" caption="Первый бит"></dxi-column>
  <dxi-column dataField="lenghtTelemetry" caption="Длина"></dxi-column>
  <dxi-column dataField="possibleValuesTelemetry" caption="Возможные значения"></dxi-column>
  <dxo-editing mode="popup"
               [allowUpdating]="true"
               [allowDeleting]="true"
               [allowAdding]="true">
    <dxo-popup title="Телеметрия"
               [showTitle]="true"
               [width]="700"
               [height]="300"
               [position]="{ my: 'top', at: 'top', of: window }">
    </dxo-popup>
  </dxo-editing>
</dx-data-grid>
