<dx-data-grid id="gridContainer"
              [dataSource]="store"
              [showBorders]="true"
              keyExpr="id"
              (onRowUpdating)="onRowUpdating($event)"
              [hoverStateEnabled]="true">

  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxi-column dataField="nameBrand" caption="Название бренда">
    <dxi-validation-rule type="required"></dxi-validation-rule>
    <dxi-validation-rule type="async"
                         message="Данный бренд уже существует."
                         [validationCallback]="asyncValidation">
    </dxi-validation-rule>
  </dxi-column>

  <dxo-editing mode="popup"
               [allowUpdating]="true"
               [allowDeleting]="true"
               [allowAdding]="true">
    <dxo-popup title="Бренды устройств"
               [showTitle]="true"
               [width]="500"
               [height]="250"
               [position]="{ my: 'top', at: 'top', of: window }">
    </dxo-popup>

    <dxo-form>
      <dxi-item itemType="group" [colCount]="1" [colSpan]="2">
        <dxi-item dataField="nameBrand">
          <dxi-validation-rule type="required"></dxi-validation-rule>
          <dxi-validation-rule type="async"
                               message="Данный бренд уже существует."
                               [validationCallback]="asyncValidation">
          </dxi-validation-rule>
        </dxi-item>
      </dxi-item>
    </dxo-form>

  </dxo-editing>
</dx-data-grid>
