<dx-data-grid id="gridContainer"
              [dataSource]="store"
              [showBorders]="true"
              keyExpr="idBrand">
  <dxi-column dataField="nameBrand" caption="Название бренда"></dxi-column>
  <dxo-editing mode="popup"
               [allowUpdating]="true"
               [allowDeleting]="true"
               [allowAdding]="true">
    <dxo-popup title="Бренды устройств"
               [showTitle]="true"
               [width]="500"
               [height]="225"
               [position]="{ my: 'top', at: 'top', of: window }">
    </dxo-popup>
    <dxo-form>
      <dxi-item itemType="group" [colCount]="1" [colSpan]="2">
        <dxi-item dataField="nameBrand"></dxi-item>
      </dxi-item> 
    </dxo-form>
  </dxo-editing>
</dx-data-grid>
