<dx-data-grid id="gridContainer"
              [dataSource]="store"
              [showBorders]="true"
              keyExpr="id"
              (onRowUpdating)="onRowUpdating($event)"
              [hoverStateEnabled]="true">

  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxi-column dataField="name" caption="Название команды">
    <dxi-validation-rule type="required"></dxi-validation-rule>
    <dxi-validation-rule type="async"
                         message="Данная программная команда уже существует."
                         [validationCallback]="asyncValidation">
    </dxi-validation-rule>
  </dxi-column>

  <dxi-column dataField="code" caption="Код команды" dataType="number">
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>

  <dxi-column dataField="longName" caption="Полное название"></dxi-column>

  <dxi-column dataField="device" caption="Устройство"></dxi-column>

  <dxo-editing mode="popup"
               [allowUpdating]="true"
               [allowDeleting]="true"
               [allowAdding]="true">
    <dxo-popup title="Программные команды"
               [showTitle]="true"
               [width]="700"
               [height]="300"
               [position]="{ my: 'top', at: 'top', of: window }">
    </dxo-popup>
  </dxo-editing>
</dx-data-grid>
