<form class="form-signin" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
  <div class="container-fluid">
    <h2 class="form-signin-heading">Авторизация</h2>
    <br />
    <dx-text-box id="username" name="username" class="form-control" ngModel placeholder="Введите логин">
      <dx-validator>
        <dxi-validation-rule type="required" message="Введите логин"></dxi-validation-rule>
      </dx-validator>
    </dx-text-box>
    <br />
    <dx-text-box id="password" name="password" class="form-control" mode="password" ngModel placeholder="Введите пароль">
      <dx-validator>
        <dxi-validation-rule type="required" message="Введите пароль"></dxi-validation-rule>
      </dx-validator>
    </dx-text-box>
    <br />
    <dx-button text="Войти"
               type="default"
               [useSubmitBehavior]="true">
    </dx-button>
  </div>
  <p></p>
  <div *ngIf="invalidLogin" class="alert alert-danger">Неправильный логин или пароль.</div>
</form>
