<dx-data-grid id="gridContainer"
              [dataSource]="store"
              [showBorders]="true"
              keyExpr="idTypeinter">
  <dxi-column dataField="nameTypeinter" caption="Тип интерфейса"></dxi-column>
  <dxo-editing mode="popup"
               [allowUpdating]="true"
               [allowDeleting]="true"
               [allowAdding]="true">
    <dxo-popup title="Тип интерфейса"
               [showTitle]="true"
               [width]="500"
               [height]="225"
               [position]="{ my: 'top', at: 'top', of: window }">
    </dxo-popup>
  </dxo-editing>
</dx-data-grid>
