<dx-data-grid id="gridContainer"
              [dataSource]="store"
              [showBorders]="true"
              keyExpr="idPost"
              (onRowUpdating)="onRowUpdating($event)">
  <dxi-column dataField="namePost" caption="Название должности"></dxi-column>
  <dxo-editing mode="popup"
               [allowUpdating]="true"
               [allowDeleting]="true"
               [allowAdding]="true">
    <dxo-popup title="Должности"
               [showTitle]="true"
               [width]="500"
               [height]="225"
               [position]="{ my: 'top', at: 'top', of: window }">
    </dxo-popup>
    <dxo-form>
      <dxi-item itemType="group" [colCount]="1" [colSpan]="2">
        <dxi-item dataField="namePost"></dxi-item>
      </dxi-item>
    </dxo-form>
  </dxo-editing>
</dx-data-grid>
