<dx-data-grid id="gridContainer"
              [dataSource]="posts"
              [showBorders]="true"
              keyExpr="idPost">
  <dxi-column dataField="namePost" caption="Название должности"></dxi-column>
  <dxo-editing mode="popup"
               [allowUpdating]="true"
               [allowDeleting]="true"
               [allowAdding]="true">
    <dxo-popup title="Должности"
               [showTitle]="true"
               [width]="500"
               [height]="225"
               [position]="{ my: 'top', at: 'top', of: window }">
    </dxo-popup>
  </dxo-editing>
</dx-data-grid>
