<p></p>

<h1>Генерация нового проекта</h1>

<p></p>

<form class="form-signin" #projectCreactorForm="ngForm" (ngSubmit)="generateProject(projectCreactorForm)">

  <div class="dx-field">
    <div class="dx-field-label">Название проекта</div>
    <div class="dx-field-value">
      <dx-text-box id="nameProject" name="nameProject" ngModel class="form-control"></dx-text-box>
    </div>
  </div>

  <div hidden class="dx-field">
    <div class="dx-field-label">Краткое описание проекта</div>
    <div class="dx-field-value">
      <dx-text-box id="directorProject" name="directorProject" [ngModel]="user" class="form-control"></dx-text-box>
    </div>
  </div>

  <div class="dx-field">
    <div class="dx-field-label">Краткое описание проекта</div>
    <div class="dx-field-value">
      <dx-text-box id="descriptionProject" name="descriptionProject" ngModel class="form-control"></dx-text-box>
    </div>
  </div>

  <div>
    <button type="submit" class="btn btn-dark">Создать</button>
  </div>

</form>
