<dx-data-grid id="gridContainer"
              [dataSource]="store"
              [showBorders]="true"
              keyExpr="idPrcprot"
              (onRowUpdating)="onRowUpdating($event)">
  <dxi-column dataField="protocolCommandLink"
              caption="Протокол">
    <dxo-lookup [dataSource]="protocols"
                displayExpr="nameProtocol"
                valueExpr="idProtocol">
    </dxo-lookup>
  </dxi-column>
  <dxi-column dataField="commandLink"
              caption="Программная команда">
    <dxo-lookup [dataSource]="commands"
                displayExpr="nameCommand"
                valueExpr="idCommand">
    </dxo-lookup>
  </dxi-column>
  <dxo-editing mode="popup"
               [allowUpdating]="true"
               [allowDeleting]="true"
               [allowAdding]="true">
    <dxo-popup title="Протоколы-Программные команды"
               [showTitle]="true"
               [width]="700"
               [height]="300"
               [position]="{ my: 'top', at: 'top', of: window }">
    </dxo-popup>
  </dxo-editing>
</dx-data-grid>
